<template>
  <q-page class="q-ma-md bg-dark ">

    <div class="row justify-center bg-dark text-white">     

      <div class="row q-ma-none justify-between bg-primary full-width">
        <span class="square-box q-ma-sm q-mt-md"><span class="text-subtitle2">Hi {{ this.$store.getters['clicker/getUserName'] }}</span></span>
        <span class="material-icons q-ma-sm"><img src="../assets/icons/baseline_logout_white_18dp.png" alt="Mouse" @click="saveUserData"></span>       
      </div>
     
      <div class="column q-mb-md q-mt-xl col-xs-12 col-sm-12 col-md-12 items-center bg-dark">
        <div>
          <TextLineCustom 
            cls="square-box text-h5 q-mb-md-mt"
            text="Merged pull requests: "
          /> 
          <span class="text-h5">{{ count }}</span>
        </div>

        <div class="spacer q-pt-lg">
          <template v-if="showAutoMergers">
            <TextLineCustom 
              cls="square-box text-h5"
              text="Auto Mergers: "
            /> 
            <span class="square-box text-h5">{{ numAutoClickers }}</span>            
          </template> 
        </div>
      </div>

      <q-form            
        class="q-gutter-md col-xs-12 col-sm-12 col-md-6 q-pt-xl"
      >
        <div  class="row justify-end">

          <BtnCustom 
            cls="full-width lg-blue-button"
            icon="call_merge"
            type="button"
            label="MERGE"
            color="primary"
            @on:click="addPoint"
          /> 
         
          <template v-if="showAutoMergers">
            <q-btn type="button" 
              color="secondary" 
              flat 
              class="full-width q-ml-sm" 
              icon="shopping_cart" 
              @click="buyPoints" 
              :disabled="disableBtn">
                BUY AUTO MERGER ( {{ autoClickerCost }} )
            </q-btn>
          </template>
        </div>
      </q-form>
    </div>
  </q-page>
</template>

<script>

import { defineComponent, ref, defineAsyncComponent } from 'vue';
import { mapState, mapActions } from 'vuex'

export default defineComponent({
  name: 'Game',

  props: {
      name: {
          type: String,
          default: ''
      }
  },

  components: {
      BtnCustom: defineAsyncComponent( () => import('../components/BtnCustom.vue')),
      TextLineCustom: defineAsyncComponent( () => import('../components/TextLineCustom.vue'))
  },
  computed: {
        countComputed() {
            return this.$store.state.clicker.count || 1
        },

        ...mapState('clicker', ['count', 'disableBtn', 'showAutoMergers', 'autoMergerPrice', 'autoClickerCost', 'numAutoClickers'])
  },
  methods: {
    async addPoint() {
      this.$store.commit('clicker/increment')
    },
    buyPoints() {

      this.$store.commit('clicker/buyPoints')
    },
    saveUserData() {

      this.$store.commit('clicker/clearAutoPoints')
      const name = this.$store.getters['clicker/getUserName']
      const data = this.$store.getters['clicker/saveUserData']
      localStorage.setItem( name, JSON.stringify(data) )

      var clearData = {
          autoClickerCost: 50,
          autoMergerPrice: 50,
          count: 1,
          disableBtn: false,
          numAutoClickers: 0,
          showAutoMergers: false,
      }
     
      this.$store.commit('clicker/updateUser', clearData)
      this.$router.push({ name: 'index'})
    }
  },

  setup() {
    const userForm = ref({
      name: ''    
    })

    return {
      userForm,
    }
  }
})
</script>

<style scoped  lang="scss">

  body {
    background-color: $dark;
  }
  input {
    background-color: white;
  }
  main {
    margin: 0;
  }

  .spacer {
    height:80px;
  }
  .text-subtitle2 {
    font-size: 1.6rem;
    font-weight: normal;
    color: white
  }
</style>
