<template>
  <q-page class="q-ma-md bg-dark ">   

    <div class="row justify-center text-white">     

      <div class="column q-mb-md q-mt-xl col-xs-12 col-sm-12 col-md-12 items-center">
        <span class="material-icons">
          <span class="circle q-mb-lg">
            <img src="../assets/icons/baseline_mouse_black_24dp.png" alt="Mouse">
          </span>
        </span>

        <TextLineCustom 
          cls="square-box text-subtitle2 q-mb-lg"
          text="Create new player"
        />     
      </div>

      <q-form
        @submit="saveEntry"
        @reset="onReset"
        class="q-gutter-md col-xs-12 col-sm-12 col-md-6 q-pt-xl"
      >

       <q-input          
          dark 
          outlined  
          v-model="name"
          label="Name *"
          hint="Write your name, characters and spaces only"
          lazy-rules
          no-error-icon
          :rules="[ val => val && val.length > 0 || 'This field is required']"
        />
      
        <div  class="row justify-end">

          <BtnCustom 
            cls="full-width lg-blue-button"           
            type="submit"
            label="Join"
            @on:click="saveEntry"
          />  

          <BtnCustom 
            cls="full-width q-ml-sm"           
            type="reset"
            label="Reset"
            color="primary"
            @on:click="onReset"
          />
        </div>
      </q-form>
    </div>
  </q-page>
</template>

<script>

import { defineComponent, ref, defineAsyncComponent } from 'vue';
import { mapState, mapActions } from 'vuex'

export default defineComponent({
  name: 'PageIndex',

  components: {
      BtnCustom: defineAsyncComponent( () => import('../components/BtnCustom.vue')),
      TextLineCustom: defineAsyncComponent( () => import('../components/TextLineCustom.vue'))
  },
  computed: {    
        ...mapState('clicker', 
          ['autoClickerCost', 'numAutoClickers', 'count', 'disableBtn', 'showAutoMergers', 'autoMergerPrice']),
        ...mapActions('clicker', ['updateUser', 'setUser']),
  },
  methods: {
    async saveEntry() {  

        const name = this.name
        const user = localStorage.getItem(name)

        if(name === undefined || !this.isValidName(name)) return
        if( !user) {
       
          var data = {
              autoClickerCost: 50,
              numAutoClickers: 0,
              count: 1,
              disableBtn: false,
              showAutoMergers: false,
              autoMergerPrice: 50
          }

          localStorage.setItem( name, JSON.stringify(data) )

        } else {
       
          data = JSON.parse(localStorage.getItem(name));
          this.$store.commit('clicker/updateUser', data)

        }
        this.$store.commit('clicker/updateName', name)
        this.$router.push({ name: 'game'})
    },
    isValidName( val ) {
        const namePattern = /^[A-Za-z ]+$/;
        return namePattern.test(val)
    }
  },
 
  setup() {
    const userForm = ref({
      name: ''    
    }) 

    return {
      userForm,

      onReset() {
        userForm.value = {
          name: ''         
        }
      },
    }
  }
})
</script>

<style scoped  lang="scss">
  body {
    background-color: $dark;
  }

  img {
    width: 35px;
  }

  input {
    background-color: white;
  }

  .circle {
    width: 65px;
    height: 65px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #C987D5;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .text-subtitle2 {
    font-size: 1.6rem;
    font-weight: normal;
    color: white
  }
</style>
