<template>
    <q-btn unelevated flat
        @click="$emit('on:click')"
        :label="label" 
        :icon="icon"
        :type="type" 
        :class="cls"
        :color="color" />
</template>

<script>
    export default {
        props: {
            icon: {
                type: String,
            },
            label: {
                type: String,
                default: 'Join'
            },
            type: {
                type: String,
                default: 'submit'
            },
            cls: {
                type: String,
                default: 'full-width lg-blue-button"'
            },
            color: {
                type: String,
                default: ''
            }
        }
    }
</script>

<style lang="scss" scoped>
    .lg-blue-button {
        background: #86C2FA;
        color: #000;
    }
</style>
