<template>
  <span 
  :class="cls" 
  >{{ text }}  
  </span>   
</template>

<script>
  export default {

    props: {
      
        cls: {
            type: String,
            default: ''
        },
        text: {
          type: String,
          default: ''
        }     
    }

  }
</script>
